<!-- 
* File: about.component.html
* Author: Maximilian Barabas
* Copyright: M B 
* Group: Szoft_II_N
* Date: 2022-04-18
* Github: https://github.com/maximilianbarabas
* Licenc: GNU GPL 
-->

<h1>About</h1>

<div class="container-sm justify-content-center">

  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Creator</th>
        <td>Maximilian Barabas</td>
      </tr>
      <tr>
        <th>Class</th>
        <td>Szoftware developer 2</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>2023.04.18</td>
      </tr>

    </tbody>

  </table>
</div>