<div class="bg-light">
  <ul class="nav justify-content-center col">
    <li class="nav-item m-1  col-2 text-center">
      <a class="nav-link active" aria-current="page" routerLink="/">Henger</a>
    </li>
  
    <li class="nav-item m-1  col-2 text-center">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
  
    <li class="nav-item  m-1 col-2 text-center">
      <a class="nav-link" routerLink="/github">Github
      </a>
    </li>
  </ul>
</div>

<div class="container w-50">
  
  <router-outlet></router-outlet>

</div>