<!-- 
* File: github.component.html
* Author: Maximilian Barabas
* Copyright: M B
* Group: Szoft_II_N
* Date: 2022-04-18
* Github: https://github.com/maximilianbarabas
* Licenc: GNU GPL 
-->


<table class="table table-striped row">
  <tbody class="col-md-2">
    <tr>
      <th>Github profil</th>
      <td><a target="_blank" href="https://github.com/maximilianbarabas">Main Profil</a></td>
    </tr>
    <tr>
      <th>Repository </th>
      <td><a target="_blank" href="https://github.com/maximilianbarabas/hengfel">Continue</a></td>
    </tr>


  </tbody>

</table>